version: '2.1'
services:
    webserver:
        build:
            context: docker/webserver
            args:
                - WWW_DATA_UID=${WWW_DATA_UID:-orig}
                - WWW_DATA_GID=${WWW_DATA_GID:-orig}

        expose:
            - 80
        ports:
            - ${APP_PORT:-80}:80
        volumes:
            - .:/var/www/html
        environment:
            APACHE_DOCUMENT_ROOT: /var/www/html/public
    db:
        image: mysql:5.7.22
        expose:
            - 3306
        environment:
            MYSQL_ROOT_PASSWORD: rootpass
            MYSQL_DATABASE: thedatabase
            MYSQL_USER: user
            MYSQL_PASSWORD: userpass
