services:
    webserver:
        build:
            context: docker/webserver

        expose:
            - 80
        ports:
            - ${APP_PORT:-80}:80
        volumes:
            - .:/app
        environment:
            RUNTIME_UID: ${WWW_DATA_UID:-33}
            RUNTIME_GID: ${WWW_DATA_GID:-33}
    db:
        image: mysql:8.0.40
        expose:
            - 3306
        volumes:
            - .:/mnt
        working_dir: /mnt
        environment:
            MYSQL_ROOT_PASSWORD: rootpass
            MYSQL_DATABASE: thedatabase
            MYSQL_USER: user
            MYSQL_PASSWORD: userpass
    node:
        build:
            context: docker/node
            args:
                - WWW_DATA_UID=${WWW_DATA_UID:-orig}
                - WWW_DATA_GID=${WWW_DATA_GID:-orig}
        volumes:
            - .:/workspace
